
a, a:focus { color: @black; }

a:hover { color: @gray; }

#header { 
    #welcome { 
    color: @white;  }
}

#container-main {
	background:#ffffff url('Skins/@{theme}/images/black_gradient.jpg') repeat-x top left;  
	border-top:1px solid @black;
}
.btnStandard {
    .uni-button(@black);
    float:none;
}
.btnStandardDisabled {
    .uni-button(lighten(@black, 30%));
}
.btnConfirm {
    .uni-button(@black);
}
.btnConfirmDisabled {
    .uni-button(lighten(@black, 30%));
}
.btnCancel {
    .uni-button(@red);
}
.btnCancelDisabled {
    .uni-button(lighten(@red, 30%));
}
#insert_save_btn_notes {
    .uni-button(@black);
}

#cancel_btn_notes, #cancel_btn_apt{
    .uni-button(@red);
}

a#RATCancelSelection.form-button, input#cancel_btn_note{
    color: white;
    background:@red;
    border:1px solid @redDark;
}
a#RATCancelSelection.form-button:hover, .bottomButtons input#cancel_btn_note:hover{
    color: @gray;
    background:@redDark;
    border:1px solid @redDark;
}
legend{
    color: @grayDark;
    font-weight: bold;
    text-transform:uppercase;
    font-size:1.3em;
    font-family:"Arial Black", sans-serif;
    letter-spacing:0.1px;
	}

#menu { 
    button {
	.plain-button( @black, @black, @white );
	border:1px solid @black;
	background-image:url(Skins/@{theme}/images/menu_bckg2.png);
    } 
    button:hover{
	color:@grayLightest;
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	border-top:1px solid @black;
	border-left:1px solid @grayLight;
	border-right:1px solid @grayLight;
	border-bottom:1px solid @gray;
	}
	button:active{
	background-image:url(Skins/@{theme}/images/menu_bckg_hover2.png);
	color:@grayLightest;
        border-top:1px solid @gray;
	}
    .disabled { color:@white;}
    .disabled:hover { .gradient(#f4f4f4, #f2f2f2); text-shadow: 0 1px 0 @gray;  border:1px solid #dddddd; }
}

.breadcrumb {
    div { 
        color: @gray;
        a { color: @gray; }
		 background: none;
                 border:none;
        a:hover { color: @grayLighter; }
    }
}

.btnPositive, .btnNegative { 
    text-decoration:none;
    color:@white;
    padding: 3px 5px; 
    .box-shadow-glow; 
    .border-radius(0px);
    .box-shadow-inset;
    .box-shadow-glow;
    margin-left: 5px; 
    margin-right: 5px;
    position:relative;
    cursor:pointer;
    display:inline-block;
}

.btnPositive {
    background-color:@blackt;
    .gradient(@black, @black);
}

.btnNegative {
    background-color:#e1253b;
    .gradient(#f12a41, #e1253b);
}
#jobSearchForm a, #productSearchForm a, #newJobBookingForm a, #policySearchForm a {
    .uni-button(@black);
}
#policySearchForm fieldset p span a, #jobSearchForm fieldset p span a{
    float:right;
    position: relative;
}
#jobSearchForm a:hover, #productSearchForm a:hover, #newJobBookingForm a:hover, #policySearchForm a:hover{
//.form-button-hover;
	}
#jobSearchForm a:active, #productSearchForm a:active, #newJobBookingForm a:active, #policySearchForm a:active{
 //.form-button-active;
	}

/* logout button */

html body div#container-main div#header span#welcome a{
.uni-button(darken(@gray, 10%));
margin-top:4px;
position:relative;
float:right;
zoom:1;
bottom:10px;
left:5px;
}

html body div#container-main div#header span#welcome a:hover{
//.form-button-hover;
}

html body div#container-main div#header span#welcome a:active{
//.form-button-active;
}

/*  Default Diary  */

.siteMapPanel {

 .borderDiv {
   border-color:#CCCCCC;
   border-width:1px;
   border-style:solid;
 }
 
 #thirdDiv{
.form-button{
border:1px solid @black;
  }
 }
}


#JobNetworkClientForm
{
        .form-button {
			border:1px solid @black;
        }
}

.jobBookingPanel {
    .blueText { color:@black; }
    form {
        .form-button {
			border:1px solid @black;
        }
    }
}

.DTTT_button {
   .uni-button(@black);
    float:none;
    //margin-right:0px !important;
}

.blueBtn {
   .uni-button(@black);
    float:right;
}

a.inline-edit{
    .uni-button(@black);
    float:right;
}

a.colorbox{
    .uni-button(@black);
    float:right;
}

a.app-button{
    .uni-button(@black);
    float:right;
}


#timeline_container {
    .past, .past-RED { background: url("Skins/@{theme}/images/past.png") no-repeat center 35px; }
    .present {background: url("Skins/@{theme}/images/present.png") no-repeat center 35px; }
    .present-RED {background: url("Skins/@{theme}/images/present-red.png") no-repeat center 35px; }
    .future, .future-RED { background: url("Skins/@{theme}/images/future.png") no-repeat center 35px; } 
    }

form {
input#quick_find_btn,input#quick_find_btn2 {
        //background-image:url('Skins/@{theme}/images/find_address.png') !important;
    }  
}

.raJobsPanel {
   .leftAlign {
        color:@black;
    }
}


#CustomerDetails fieldset legend{
background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_user.png);
}

#deliveryAddress fieldset legend{
    background-image: url(Skins/@{theme}/images/icons_skyline/icons_skyline_truck.png);
}

* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	background: url("Skins/@{theme}/images/accordion_icons.png") no-repeat scroll 0 top transparent;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers {
    color: @black;
}

.paging_full_numbers a.paginate_button, .paging_full_numbers a.paginate_active {
    color:@grayDark;
}

a.paginate_active{
    color:@black !important;
}

form{
    input.textSubmitButton{
    .uni-button(@black);
    }
    input#cancel_btn_notes.textSubmitButton{
    .uni-button(@red);
    }
}

.tableHover {
	background-color: @grayLight;
}

.CsvButton {
    background-image: url("Skins/@{theme}/images/button_gradients.png");
    border: 1px solid @black;
}


.AdminItemPanel{
background:url("Skins/@{theme}/images/folder.png") no-repeat 20px 20px;
label{
color: @black;
}
}

.bottomButtonsPanel button#finish_btn.gplus-blue{
float:right !important;
}

#loginForm p span a, #loginForm p span a:hover, #loginForm p span a:active,
#loginForm.prepend-5 fieldset p span a[href*="/skyline_samsung/index/index"],
#newuser.main form#newUserForm.prepend-5 fieldset p span a, 
html body div#container-main div#newuser.main form#newUserForm.prepend-5 fieldset p a {
.uni-button(@black);
padding-bottom:2px;
}

fieldset { 
    padding:0 1.4em 1.4em 1.4em;   
    /*margin: 0 0 1.5em 0;   */
    margin: 0 0 0.4em 0;
    border: 1px solid @gray !important; 
    .border-radius(2px);
}

#cancel_email_btn, #cancel_btn_notes{
button.gplus-red;
background: @red !important;
border:1px solid darken(@red, 10%);
margin-top:2px;
margin-bottom:2px;
}
.gplus-blue, .gplus-red{
    font-size:12px;
    padding:3px 5px !important;
}

.btnStandard, .btnConfirm{
    .uni-button(@black);
}
#cancel_email_btn{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
}

.buttonPanel span#cancel a button.gplus-blue{
button.gplus-red;
background: @red !important;
margin-top:2px;
margin-bottom:2px;
}
/* IE6 fix */

* html #loginForm p span a {
        .form-button;
        border:1px solid #dddddd;
        padding-bottom:2px;
        }
* html #jobdetails .head .icon_c, #jobdetails .head .icon_e{
	background: url("Skins/@{theme}/images/accordion_icons.jpg") no-repeat scroll 0 top transparent;
        float: right;
	position:relative;
        height: 18px;
        margin: 0 6px 0 0;
        width: 18px;
	}
#jobdetails .head .icon_e {
    background-position: -16px top;
}

 *:first-child+html .jobBookingPanel form .form-button{
        border:1px solid @black !important;
        }

.jobConfirmation{
    //.uni-button(@black);
}
#csvSelect {
    .uni-button(@black);
    position:relative;
    bottom:30px;
    width:100px;
}
#DivEditAddress {
    form {
        .uni-button(@black);
    }
}
input#quick_find_btn.textSubmitButton{
    //float: right;
    //margin-right:50px;
}
.weekButtonsActive, .subMenuButtonsActive{
    .uni-button(@black);
    margin:0px;
    padding:0px;
}
#accessoriesWrapper{
    margin-top:20px !important;
}
#ServiceCentre fieldset a.top-right{
    margin-right:10px !important;
}

#header a img#logo {
    padding-top: 35px;
}